<h1>All Posts</h1>
<% @post.each do |post| %>
    <h4><a href="/posts/<%=post.id %>"><%=post.work %></a></h4>
<img src="<%= post.link %>" alt="<%= post.work %>" >
    <br><br>
<strong>Created At: <%= post.created_at %></strong>
    <p><%= post.description %></p>
    <p>By:<%= post.user.name%></p>
<% end %>


